/* Estilos generales para la barra de navegación */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #f3f3ef; /* Beige para el fondo */
  max-width: 1800px;
  /* padding: 15px; */
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.navbar-content {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 20px;
}
.dropdown img{
  height: 80px;
  width: auto;
}

.navbar-content li {
  position: relative;
  /* padding: 0 4rem; */
  
}
.navbar-content li .login {
  position: relative;
  padding: 0 0 0 5rem;
  
}

.navbar-content a {
  text-decoration: none;
  color: #2E8B57; /* Verde oliva para los textos */
  font-size: 18px;
  font-weight: bold;
  /* padding: 10px; */
  transition: color 0.3s ease-in-out;
}

.navbar-content a:hover {
  color: #CD5C5C; /* Terracota al pasar el cursor */
}

.dropdown{
  position: relative;
}
/* Dropdown - submenús */
.dropdown .contenido-barra {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px;
  padding: 12px 12px;
}

.dropdown:hover .contenido-barra {
  display: block;
}

.contenido-barra a {
  display: block;
  color: #4682B4; /* Azul cielo para los enlaces de dropdown */
  padding: 10px 0;
  text-align: left;
  transition: background-color 0.3s ease;
}

.contenido-barra a:hover {
  background-color: #F0E68C; /* Color beige oscuro en hover */
  color: #2E8B57; /* Verde oliva en hover */
}


.navbar-buscador-login {
width: 100%;
display: flex;
flex-direction: row;
}

.navbar-buscador-login .buscador{
    width: 40%;
    height: 10px;
    text-align: center;
}


/* Buscador */
.buscador{
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  position: relative;
}

.buscador img , .login img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 10s ease;
}

.buscador img:hover {
  transform: scale(1.1); /* Pequeño aumento al pasar el cursor */
}

.buscar{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  
}

@keyframes movimiento{
  0%{
    margin: 0 0 0 0;
  }

  100%{
    margin: 10% 0 0 0;
  }

}

#btn-buscar{
  background-color: #F0E68C;
  color: #2E8B57;
  margin: 0%;
  position: relative;
  width: 100px;
}

#btn-buscar:hover{
  background-color: #2E8B57;
  color:#F0E68C;
}
.input-buscar{
  display: block;
  /* position: absolute; */
  text-align: start;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* width: 300px; */
  height: 25px;
  animation: movimiento 2s ease-in-out;

}


.mostrar{

  height: 20px;
  display: none;
  overflow: hidden;
}

.input-login{
  height: auto;
  border: 5px solid yellowgreen;

}
.portada{
  background-size: cover;       /* Ajusta la imagen sin distorsión */
  background-position: center;   /* Centra la imagen */
  width: 100vw;
  height: 100vh;

  /* width: 1400px;
  height: 400px; */
}

.img-portada{
  width: 100%;
  height: auto;
}