/* Estilos generales para la barra de navegación */
*{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  z-index: 1;
  position: fixed;
  background-color: #f3f3ef; /* Beige para el fondo */
  width: 100%;
  /* margin-bottom:-10px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.navbar-content {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 20px;
}
.dropdown img{
  height: 80px;
  width: auto;
}

.navbar-content li {
  position: relative;
  /* padding: 0 4rem; */
  
}
.navbar-content li .login {
  position: relative;
  /* padding: 0 0 0 5rem; */
  
}

.navbar-content a {
  text-decoration: none;
  color: #2E8B57; /* Verde oliva para los textos */
  font-size: 18px;
  font-weight: bold;
  /* padding: 10px; */
  transition: color 0.3s ease-in-out;
}

.navbar-content a:hover {
  color: #CD5C5C; /* Terracota al pasar el cursor */
}

.dropdown{
  position: relative;
  width: 300px;
}
/* Dropdown - submenús */
.dropdown .contenido-barra {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px;
  padding: 12px 12px;
}

.dropdown:hover .contenido-barra {
  display: block;
}

.contenido-barra a {
  display: block;
  font-size: 15px;
  width: 10px;
  color: #4682B4; /* Azul cielo para los enlaces de dropdown */
  padding: 10px 0;
  text-align: left;
  transition: all 0.5s;
}


.contenido-barra a:hover {
  background-color: #f3ecaa; /* Color beige oscuro en hover */
  color: #2E8B57; /* Verde oliva en hover */
  width: 130px;
  font-size: 17px;
} 


.navbar-buscador-login {
width: 100%;
display: flex;
flex-direction: row;


}

.navbar-buscador-login .buscador{
    width: 40%;
    height: 10px;
    text-align: center;
}


/* Buscador */
.buscador{
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  position: relative;
}

.buscador img , .login img {
  width: 30px;
  height: 30px;
  margin: 0 100px;
  cursor: pointer;
  transition: all 0.5s ease;

}

.buscador img:hover , .login img:hover {
  transform: scale(1.2); /* Pequeño aumento al pasar el cursor */
}

.buscar{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#btn-buscar{
  background-color: #F0E68C;
  color: #2E8B57;
  margin: 0%;
  position: relative;
  width: 100px;
}

#btn-buscar:hover{
  background-color: #2E8B57;
  color:#F0E68C;
}
.input-buscar{
  display: block;
  /* position: absolute; */
  text-align: center;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  /* top: 20px; */
  /* width: 300px; */
  height: 30px;
  animation: movimiento-buscar 2s both;
}
@keyframes movimiento-buscar{
  0%{
    margin-top: 0;
  }

  100%{
    margin-top: 5% ;
  }

}
input.input-buscar{
  border-radius: 5px 0 0 5px;
}
button.input-buscar{
  border-radius: 0 5px 5px 0;
}
.mostrar{
  height: 20px;
  display: none;
  overflow: hidden;
}


.input-login {
  display: block;
  flex-direction: column;
  margin-left: 500px;
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  position: absolute;
  right: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  animation: movimiento-login 1s both; /* Animación de despliegue */
  /* overflow: hidden; */
  height: 190px;
}

@keyframes movimiento-login{
  0%{
    margin-top: 0;
    top: 30px;
  }
  100%{
    margin-top: 5%;
    top:37px;
  }
}

.visible{
  display:none
}
.login .input-login .mostrar {
  display: flex; /* Muestra el formulario */
  max-height: 400px; /* Altura máxima durante el despliegue */
}

.sesion input,
.boton input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/*.portada{
  background-size: cover;       /* Ajusta la imagen sin distorsión */
  /*background-position: center;   /* Centra la imagen */
 /* width: 100vw;
  height: 100vh;*/

  /* width: 1400px;
  height: 400px; 
}*/

.img-container{
  position: relative;
  height: 100vh;
  width: 100%;

}

.img-portada {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  /* max-width: 800px; /* Ajusta el tamaño de la portada */
  /*height: 400px;
  margin: auto;
  overflow: hidden;*/
}
.slide {
  object-fit: cover;
  position: absolute;
  min-width: 100%;
  height: 100%;
  opacity: 0;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease;
}
.slide.activo {
  opacity: 1;
}

.titulo h2{
  text-align: center;


}

